*{
    padding: 0;
    margin: 0;
}
.clear{
    clear: both;
}
body{
    font-family: 'Montserrat';
}
.container{
    width: 85%;
    margin: auto;
}
header nav {
    margin-top: 40px;
}
section h1.name{
    color: #fbae15;
}
a{
    text-decoration: none;
}
@media (min-width: 1300px){
   
    header nav h2 {
        font-size: 20px;
        font-weight: bold;
    
    }
    section{
        padding: 50px;
    }
    section .body{
        width: 60%;
        float: left;
        display: inline-block;
    }
    section h1{
        font-size: 60px;
        font-weight: bolder;
    }
   
    section p {
        margin-top:20px ;
        width: 100%;
        font-weight: 500;
        line-height: 1.5em;
    }
    section img {
        width: 40%;
        float: right;
        display: inline-block;
    }
    
    section .button{
        padding: 40px 0;
    }
    section button{
        width: 100px;
        padding: 15px;
        background-color: #fbae15;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        font-family: inherit;
        display: inline-block;
        cursor: pointer;
    }
    section .icon{
        width: 100px;
        margin: 0 20px;
    }
    section .icon1 {
        margin-top:-4px;
    }
    footer{
       margin-top: 60px; 
    }
    footer h5 {
        text-align: center;
    }
}



@media(max-width:1299px){
    header nav h2 {
        font-size: 10px;
        font-weight: bold;
    }
    section{
        padding-top: 50px ;
    }
    section .body{
        width: 100%;
        float: left;
        display: inline-block;
    }
    section h1{
        font-size: 25px;
        font-weight: bolder;
        margin-bottom:10px ;
    }
    section p {
        font-size: 15px;
        width: 100%;
        font-weight: 500;
        line-height: 1.5em;
    }
    section img {
        width: 40%;
        display: none;
    }
    section button{
        width: 100px;
        padding: 15px;
        background-color: #fbae15;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        font-family: inherit;
        display: block;
        cursor: pointer;
        margin: 20px auto;
    }
    section .icon{
        width: 100px;
        margin: 0 20px;
        display: block;
        margin: 20px auto;
    }
     footer h5 {
         text-align: center;
     }
}
